<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bored</title>
</head>
<body>
    <div>
    <form method="POST" action="/user/<%= fave.id %>/?_method=PUT">
        <h3><%= fave.activity %></h3>
        <label>Note:</label>
        <input type="text" name="note" value="<%= fave.note %>">
        <input type="submit">
    </form>
    </div>
</body>
</html>