<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>imBored</title>
</head>
<body>
    <nav class="navbar navbar-brand">
        
                <a href="/user" class="badge badge-light">favorites</a>
           
       
    </nav>
    <div>
        
        <h1>I'm Bored</h1>
       
       
        <a href="#pg1" class="btn btn-light">find something to do ></a>
        
    </div>

    <form method="GET" action="/results">
    <div id="pg1">
        <h1>What are you in the mood for?</h1>
        <label for="type">Education</label>
        <input type="radio" name="type" value="education">

        <label for="type">Recreational</label>
        <input type="radio" name="type" value="recreational">

        <label for="type">Social</label>
        <input type="radio" name="type" value="social">

        <label for="type">DIY</label>
        <input type="radio" name="type" value="diy">

        <label for="type">Charity</label>
        <input type="radio" name="type" value="charity">

        <label for="type">Cooking</label>
        <input type="radio" name="type" value="cooking">

        <label for="type">Relaxation</label>
        <input type="radio" name="type" value="relaxation">

        <label for="type">Music</label>
        <input type="radio" name="type" value="music">

        <label for="type">BusyWork</label>
        <input type="radio" name="type" value="busywork">

        <a href="#pg2" class="btn btn-light">continue</a>

        
    </div>

    <div id="pg2">
        <h1>Do you have people with you?</h1>

        <label for="participants">Yes</label>
        <input type="radio" name="participants" value="2">

        <label for="participants">No</label>
        <input type="radio" name="participants" value="1">

        <a href="#pg3" class="btn btn-light">continue</a>

        
    </div>

    <div id="pg3">
        
        <h1>Are you ok with spending money?</h1>

        <label for="price">Yes</label>
        <input type="radio" name="price" value="0.1">

        <label for="price">No</label>
        <input type="radio" name="price" value="0.0">

        <br>
        <input class="btn btn-light" type="submit" value="Give Me An Activity!">
        

        
    </div>
    
    </form>
</body>
</html>