<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imBored</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">account</a>
            </li>
            
        </ul>
       
    </nav>
    <div id="1">
        <h1>I'm Bored</h1>
        <a href="#1">find something to do ></a>
    </div>

    <form method="GET" action="/results">
    <div>
        <h1>What are you in the mood for?</h1>
        <label for="type">Education</label>
        <input type="radio" name="type" value="education">

        <label for="type">Recreational</label>
        <input type="radio" name="type" value="recreational">

        <a href="#2">continue</a>

        
    </div>

    <div id="2">
        <h1>Do you have people with you?</h1>

        <label for="participants">Yes</label>
        <input type="radio" name="participants" value="participants">

        <label for="participants">No</label>
        <input type="radio" name="participants" value="1">

        <a href="#3">continue</a>

        
    </div>

    <div id="3">
        <h1>Are you ok with spending money?</h1>

        <label for="price">Yes</label>
        <input type="radio" name="price" value="education">

        <label for="price">No</label>
        <input type="radio" name="price" value="education">

        

        
    </div>
    <input type="submit" value="Give Me An Activity!">
    </form>
</body>
</html>