<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bored</title>
</head>
<body>
    <div id="faves">
        <% favorites.forEach((fave) => { %>
              <h2><%= fave.activity %></h2>
              <form action="/user/:id"></form>
              <a href="#">delete</a>
              <a href="#">edit note</a>
            
          <% }); %>
    </div>
    
</body>
</html>